*{
    box-sizing: border-box;
    font-family: Poppins;
    max-width: 100%;
}

body{
    color:white;
    background: #43AEFC;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title{
    margin-top: 100px;
    margin-bottom: -100px;
}

.container{
    max-width: 720px;
}

.wrapper{
    background: rgba(255, 255, 255, 0.104);
    margin-top: 50px;
    border-radius: 20px;
    padding: 60px;
    max-width: 600px;
    margin: 200px auto;
}

hr{
    color: white;
}

h3{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.location{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

input{
    padding: 10px;
    width: 300px;
    border: none;
    border-color: none;
    border-bottom: 1px solid black;
    background: transparent; 
}

input:focus{
    outline: none;
}
button{
    background: 0;
    color: #fff;
    width: 100px;
    padding: 9px;
    font-size: 30px;
    border: none;
    margin-left: 20px;
}

@media(max-width: 960px){
    input{
        width: 200px;
    }
    button{
        margin-left: 10px;
    }
}

